.HeroImage {
  position: relative;
  height: 300px;
}

.Team, .About, .TeamContainer {
    color: #4A4A4A;
    line-height: 22px;
    width: 100%;
    text-align: center;
    
}

.About p {
  opacity: 0.78;
  margin: auto;
  width: 80%;
}


.Team {
    width: 100%;
    margin-top: 100px;
}

.Row {
    display: flex;
    align-items: center;
} 

.Column {
    float: left;
    width: 100%;
    margin-right: 10px;
    padding: 0 8px;
}
  
.TeamCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.TeamContainer {
  width: 370px;
  margin-left: 15px;
}

.TeamContainer p {
  color: #4A4A4A;
}

.TeamContainer::after, .Row::after {
    content: "";
    clear: both;
    display: table;
}

.Title {
  color: grey;
}
  
.TeamButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #04AA6D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}
  
.TeamButton:hover {
  opacity: 1;
  transition: all 250ms;
}

/* Tablets and upper*/
@media(max-width: 768px){

}

/* Mobiles */
@media(max-width: 500px){
  .Row {
    flex-wrap: wrap;
  }

  .Column {
    margin: auto;
    width: 300px;
  }

  .TeamContainer{
    margin: auto;
    width: 250px;
  }
}