.HeroImage {
    position: relative;
    height: 300px;
}
  
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #04AA6D;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus, select:focus, textarea:focus {
    background-color: #ddd;
    border: 2px solid #04AA6D;
    outline: none;
}

label {
    color: #4A4A4A;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms;
}

input[type=submit]:hover {
background-color: #70C919;
}

/* Style the container/contact section */
.ContactContainer {
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: content-box;
    margin-top: 5%;
    width: 100%;
}

/* Create two columns that float next to eachother */
.Column {
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.Column form {
    width: 90%;
}

.Row {
    display: flex;
}

/* Clear floats after the columns */
.Row:after {
    content: "";
    display: table;
    clear: both;
}

.Footer {
    margin-top: 20px;
}

/* Tablets & upper*/
@media(max-width: 768px) {

}

/* Mobile */
@media(max-width: 500px) {
    .Row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}