.HeroImage {
    position: relative;
    height: 300px;
}
  
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid #04AA6D;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text]:focus, select:focus, textarea:focus {
    background-color: #ddd;
    border: 2px solid #04AA6D;
    outline: none;
}

label {
    color: #4A4A4A;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms;
}

input[type=submit]:hover {
background-color: #70C919;
}

/* Style the container/contact section */
.ContactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: content-box;
    margin-top: 5%;
}

/* Create two columns that float next to eachother */
.Column {
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.Column form {
    width: 90%;
}

.Row {
    display: flex;
}

/* Clear floats after the columns */
.Row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.Column, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

.Footer {
    position: absolute;
    top: 200%;
}