body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.HeroImage {
    position: relative;
    background-image: url('/public/images/img_hero-image@2x.png');
    mix-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500.74px;
    max-width: 100%;
    height: 800px;
    background-color: #0F1110;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroText {
    position: absolute;
    left: 0%;
    top: 30%;
    text-align: center;
    width: 100%;
}

.HeroText h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 1px;
}

.HeroText p {
    width: 47%;
    margin: auto;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 27px;
}

.ApplyNowBtn {
    margin-top: 40px;
    height: 67px;
    width: 192px;
    background: #27AD6C;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.HeroText a {
    text-decoration: none;
}

.ApplyNowBtn:hover{
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.9);
    background: #70C919;
    transition: all 250ms;
    transform: scale(0.98);
}

.ApplyNowBtn img {
    margin-left: 10px;
}

nav {
    position: absolute;
    top:50px;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #0F1110 transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo img {
    padding: 3px;
    margin-left: 56px;
}

.MenuItem {
    margin-right: 25px;
}

.MenuItem a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    line-height: 18.75px;
    position: relative;
}

.MenuItem .Search::before{
    content: '';
    background-color: #70C919;
    height: 50px;
    width: 100px;
    transform-origin: right center;
    /* transform: scaleX(0); */
}

.MenuItem .Search:hover::before{
    transform: scaleX(1);
}

.MenuItem a::after{
    position: absolute;
    left: 5px;
    right: 0px;
    bottom: -6px;
    content: '';
    height: 2px;
    background-color: #70C919;
    transform-origin: left center;
    opacity: 0;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.MenuItem a:hover::after, .links a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.MenuItem a.active {
    color: #70C919;
}

.MenuItem a img {
    height: 17px;
}

.BoldText {
    margin-top: 150px;
    width: 100%;
    color: #9B9B9B;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.Card {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.CardImage{
    width: 300px;
    max-width: 100%;
    height: 196px;
    margin-bottom: 100px;
}

.Card .CardImage h4{
    color: #27AD6C;
}

.CardImage img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CardImage img {
    margin-right: 50px;
}

.Card .CardImage p {
    width: 300px;
    height: 90px;
    font-size: 14px;
    color: #4A4A4A;
    opacity: 0.78;
    line-height: 22px;
}

.Resources {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.Resource{
    position: relative;
    width: 40%;
    margin-left: 5%;
}

.Resource::after {
    position: absolute;
    top: 10%;
    left: 112%;
    content: '';
    width: 0;
    height: 410px;
    border: 1px solid #88C542;
}

.Resource h2 {
    color: #9B9B9B;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    width: 225px;
    height: 56px;
    line-height: 56px;
    margin-left: 5%;
}

.ResourceLinks {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.ResourceLinks a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #27AD6C;
    padding: 12px;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

.ResourceLinks a:hover{
    color: #88C542
}

.ResourceLinks img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 30px;
    color: #D2D9CA;
}

.ResourceLinkOptions{
    display: inline-flex;
    align-items: center;
}

.FrontendLatest {
    width: 40%;
    margin-left: 12%;
}

.Frontend h2 {
    color: #9B9B9B;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    width: 441px;
    height: 56px;
    margin-left: 10px;
}

.FrontendLinks a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #27AD6C;
    display: block;
    padding: 12px;
    margin-bottom: 30px;
    text-decoration: none;
    cursor: pointer;
}

.FrontendLinks a:hover {
    color: #88C542;
}

.FrontendLinks span {
    color: #9B9B9B;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
    line-height: 30px;
}

.FrontendNinjaLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.FrontendNinjaLogo::before,
.FrontendNinjaLogo::after{
    margin-top: 10px;
    content: '';
    width: 123px;
    height: 1px;
    border: 1px solid #88C542;
    background-color: #88C542;
}

.FrontendNinjaLogo img{
    margin: 0 20px;
    width: 44px;
    height: 44px;
    color: #88C542;
}

.RandomPhotosSection {
    width: 100%;
    height: auto;
    margin-top: 150px;
    text-align: center;
    color: #9B9B9B;
    font-weight: normal;
}

.RandomPhotosSection h2 {
    font-style: normal;
    font-size: 48px;
    line-height: 48px;
}

.RandomPhotosSection p {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    
}

.FoodPhotoSection {
    margin-top: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.FoodPhotoSection img{
    width: 480px;
    height: 400px;
}

.WhatWeProvideSec {
    margin: 0;
    height: 1300px;
    width: 100%;
    background-color: #423633;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.WhatWeProvideSec > h1 {
    margin: 0;
    padding: 150px 0 50px 0;
    font-size: 48px;
    line-height: 48px;
}

.Services {
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ServicesList {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.ServicesList img {
    width: 50px;
    height: 50px;
}

.TextSec {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 150px;
    width: 65%;
    margin-left: 5px;
    margin-top: 20px;
    line-height: 25px;
}

.TextSec h6 {
    font-size: 17px;
    text-transform: uppercase;
}

.TextSec p {
    font-size: 16px;
    opacity: 0.5;
    margin-top: -60px;
}

.LastLogo {
    margin-top: 110px;
    filter: grayscale(100%);
}

.LastLogo img{
    height: 40px;
    width: 40px;
}

.Footer {
    height: 70px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.Copyright {
    margin-left: 60px;
    display: flex;
    flex: 1;
}

.links {
    margin-right: 50px;
}

.Links a {
    padding: 0 15px;
    text-decoration: none;
    color: white;
    transition: ease-in 0.1s;
}

.Links a:hover {
    color: #88C542;
}

.SearchClick{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchClick > input{
    width: 345px;
    border: none;
    border-bottom: 2px solid #88C542;
    outline: none;
    background-color: transparent;
}

.SearchClick a {
    margin-top: 5px;
    margin-left: 1.75px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.SearchClick > img {
    height: 17px;
}

/* Tablets and under */
@media(max-width: 768px){

}

/* Mobile devices*/
@media(max-width: 500px){
    .HeroImage {
        width: 100%;
        height: 350px;
    }

    .HeroImage .HeroText {
        margin-top: 20px;
    }
    .HeroImage .HeroText h1 {
        font-size: 20px;
    }

    .HeroImage .HeroText p {
        font-size: 10px;
        line-height: 12px;
    }

    .ApplyNowBtn{
        height: 40px;
        width: 110px;
        font-size: 8px;
    }
    .ApplyNowBtn img {
        height: 10px;
        width: 10px;
        margin-left: 5px;
    }

    .HeroImage .HeroText p {
        margin: auto;
        width: 50%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .MenuItem {
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 0;
    }

    nav .MenuItem a {
        font-size: 15px;
    }

    nav .MenuItem a img {
        height: 12px;
    }

    .BoldText {
        height: 100px;
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
    }

    .Card {
        margin: 0;
    }

    .Resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .ResourceLinks {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-left: 50px;
    }

    .Resource, .FrontendLatest{
        width: 100%;
        margin: 0;
    }

    .Resource::after {
        display: none;
    }

    .Resource h2 {
        font-size: 20px;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .ResourceLinkOptions img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .ResourceLinkOptions a {
        font-size: 12px;
        line-height: 10px;
    }

    .FrontendLatest .Frontend > h2 {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }

    .FrontendLinks a{
        font-size: 12px;
        line-height: 5px;
        text-align: center;
    }

    .FrontendLinks span {
        font-size: 10px;
        line-height: 20px;
    }

    .FrontendNinjaLogo{
        margin-top: 50px;
    }

    .FrontendNinjaLogo img{
        height: 30px;
        width: 30px;
    }

    .FrontendNinjaLogo::after,
    .FrontendNinjaLogo::before{
        width: 100px;
        height: 0.5px;
        border: 1px solid #88C542;
        background-color: #88C542;
    }

    .RandomPhotosSection {
        margin-top: 50px;
    }

    .RandomPhotosSection h1 {
        font-size: 30px;
    }

    .RandomPhotosSection p {
        font-size: 15px;
    }

    .RandomPhotosSection .FoodPhotoSection { 
        width: 100%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .RandomPhotosSection .FoodPhotoSection img {
        height: 200px;
        width: 200px;
    }

    .WhatWeProvideSec {
        height: 100%;
    }

    .WhatWeProvideSec > h1 {
        font-size: 30px;
        margin: 0;
        height: 50px;
        padding: 30px 0 10px 0;
    }

    .Services {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .ServicesList {
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .ServicesList img {
        width: 30px;
        height: 30px;
    }
    
    .TextSec {
        height: 100px;
        width: 250px;
        line-height: 15px;
    }

    .TextSec h6 {
        font-size: 10px;
        text-transform: uppercase;
    }
    
    .TextSec p {
        font-size: 10px;
        opacity: 0.5;
        margin-top: -30px;
    }

    .LastLogo {
        margin-top: 20px;
    }

    .LastLogo img {
        height: 30px;
        width: 30px;
    }

    .Footer {
        font-size: 12px;
    }

    .Footer .Copyright {
        margin-left: 20px;
    }

    .Footer .Links a {
        padding: 5px;
    }
}