.HeroImage {
    position: relative;
    height: 300px;
}

.WorkSec h1{
    color: #4A4A4A;
    text-align: center;
    margin-top:50px;
    font-size: 50px;
    font-weight: 600;
}

.WorkSec {
    width: 100%;
    margin-top: 200px;
}

.WorkSecList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.WorkSecImg img{
    height: 300px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.WorkSecDesc {
    color: #4A4A4A;
    margin: 0 50px;
}

.WorkSecDesc p{
    width: 600px;
}

.Client {
    width: 100%;
    margin-top: 100px;
}

.ClientSec{
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    color: #4A4A4A;
    align-items: center;
    justify-content: center;
}

.ClientSecList {
    margin-left: 50px;
}

.ClientSecList img {
    margin-left: 20%;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}

.ClientMsg {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
}

.Footer {
    margin-top: 100px;
}

/* Tablets and under */
@media(max-width: 768px){

}

/* Mobile devices*/
@media(max-width: 500px){
    .WorkSec {
        width: 100%;
        margin-top: 100px;
    }

    .WorkSec h1 {
        font-size: 30px;
    }

    .WorkSecList {
        width: 100%;

    }

    .WorkSecList .WorkSecImg{
        width: 50%;
    }

    .WorkSecList .WorkSecImg img{
        width: 120px;
        height: 100px;
        margin: 0 10px;
    }

    .WorkSecList .WorkSecDesc {
        width: 50%;
    }

    .WorkSecList .WorkSecDesc p{
        width: auto;
        font-size: 10px;
    }

    .ClientSec {
        flex-wrap: wrap;
        margin: auto;
    }

    .Client h1 {
        font-size: 30px;
    }

    .ClientSecList {
        margin-bottom: 50px;
        margin-left: 0;
    }

    .ClientSecList .ClientMsg {
        font-size: 12px;
    }

    .ClientSecList img {
        height: 50px;
        width: 50px;
        margin: 0 150px;
        border: solid 1px black;
    }
}