nav {
    /* background-color: #0F1110; */
}

.HeroImage {
    position: relative;
    height: 300px;
}

.FormSec {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 45%;
    color:#27AD6C;
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.FormSec h2 {
    text-align: center;
}

.FormContainer {
    padding: 16px;
    margin-left: 10%;
}

label {
    font-size: 20px;
    font-weight: 400;
}

input[type=text], select, textarea {
    height: 45px;
    width: 400px;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0 22px 0;
    box-sizing: border-box;
    display: flex;
    border: 0.5px solid #04AA6D;
    background: #f1f1f1;
}

textarea {
    height: 150px;
    resize: none;
    padding: 12px 20px;
}

input[type=text]:focus, textarea:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

.Buttons button{
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 4px;
    opacity: 0.8;
}

.Buttons button:hover {
    opacity: 1;
}

.ApplyBtn {
    margin-right: 10px;
    background-color: #04AA6D;
}

.CancelBtn {
    background-color: red;
}

.Footer {
    position: absolute;
    top: 230%;
}